:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  margin: 0;
  display: flex;
  flex-direction: column; /* apila h1, p, botones en columna */
  align-items: center; /* centra horizontalmente */
  justify-content: center; /* centra verticalmente */
  min-width: 320px;
  min-height: 10vh;
  text-align: center; /* centra el texto */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.5em; /* mete espacio entre botones */
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #eee;
  }

  a:hover {
    color: #747bff;
  }
  button {
    background-color: #a9a9aa;
  }

  .btn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s, background-color 0.25s;
    margin: 0.5em;
  }

  .btn.rojo {
    background-color: #b22222;
    color: white;
  }
  .btn.rojo:hover {
    background-color: #f00;
  }

  .btn.verde {
    background-color: #228b22;
    color: white;
  }
  .btn.verde:hover {
    background-color: #32cd32;
  }

  .btn.blanco {
    background-color: white;
    color: black;
    border: 1px solid #fff;
  }
  .btn.blanco:hover {
    background-color: #e0e0e0;
  }
}
